<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3fxIJLjvmw06q1lQ2NNEp_vEvWQBLfQM</string>
	<key>GCM_SENDER_ID</key>
	<string>532744094450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wtw</string>
	<key>PROJECT_ID</key>
	<string>itachi-wtw</string>
	<key>STORAGE_BUCKET</key>
	<string>itachi-wtw.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532744094450:ios:8bfc07e8f76fe58162c66b</string>
</dict>
</plist>